In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = np.random.randint(0,100,(10,2))

In [4]:
data

array([[59, 90],
       [81, 76],
       [91, 77],
       [54, 97],
       [25, 33],
       [93, 15],
       [28, 39],
       [17, 47],
       [84, 35],
       [90, 57]])

In [5]:
scaler_model = MinMaxScaler()

In [6]:
type(scaler_model)

sklearn.preprocessing.data.MinMaxScaler

In [7]:
scaler_model.fit(data)

/Users/khu834/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, _DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [8]:
scaler_model.transform(data)

array([[ 0.55263158,  0.91463415],
       [ 0.84210526,  0.74390244],
       [ 0.97368421,  0.75609756],
       [ 0.48684211,  1.        ],
       [ 0.10526316,  0.2195122 ],
       [ 1.        ,  0.        ],
       [ 0.14473684,  0.29268293],
       [ 0.        ,  0.3902439 ],
       [ 0.88157895,  0.24390244],
       [ 0.96052632,  0.51219512]])

In [11]:
import pandas as pd

In [17]:
mydata = np.random.randint(0,101,(50,4))

In [18]:
df = pd.DataFrame(data = mydata, columns = ['f1','f2','f3','label'])

In [20]:
df.head()

   f1  f2  f3  label
0  98  38  19      5
1  37  21  35     53
2  20  82  38      3
3  47  27  79     46
4  23  53  42    100

In [21]:
X = df[['f1','f2','f3']]

In [22]:
y = df['label']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [25]:
X_train.shape

(35, 3)

In [26]:
X_test.shape

(15, 3)